<html>
    <head>
        <link rel="stylesheet" href="src/assets/css/bootstrap.min.css">
    </head>
    <body>
        <main class="container">
            <header style="text-align: center;">
                <h1 class="h1">Cadastro de Produtos</h1>
                <a class="btn btn-primary" href="?page=product&method=index" role="button">Consultar</a>
                <a class="btn btn-primary" href="?page=product&method=add" role="button">Adicionar</a>
            </header>
            <section style="margin-top: 1rem;">
                {{content}}
            </section>
        </main>
    <script src="src/assets/js/jquery.min.js"></script>
    <script src="src/assets/js/bootstrap.min.js"></script>
</body>
</html>